.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 25px;
}
.images-container {
    width: 700px
    
    
    
}

.card {
  padding:50px;
  margin:20px;
    
    
    
}
  
  
  
.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}
  
.card-body {
    padding: 20px;
}
  
 .card-title {
    margin: 10px auto;
    font-size: 24px;
    align-items: center;
}
  
@media screen and (max-width: 800px) {
    body {
      line-height: 1.4rem;
      font-size: 0.9rem;
      text-align: justify;
    }
  
    .images-container {
      width: 100%;
    }
  
    .card-title {
      font-size: 20px;
    }
  
    
  }